@model IEnumerable<WebApplicationFinal.Data.Models.Product>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.shortDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.longDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isFavorite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.availiible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.shortDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.longDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.img)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isFavorite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.availiible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
